@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #ECECEC;
  padding: 3rem;
  height: 16rem;
}
.footer-links {
  width: 90%;
  display: flex;
  margin: 1rem auto 4rem;
  justify-content: space-between;
  max-width: 30rem;
}
.footer-links-each-icon {
  transition: all 0.2s !important;
  font-size: 3rem !important;
  color: #353434;
}
.footer-links-each-icon:hover {
  transform: scale(1.05) !important;
}
.footer-copyright {
  width: 90%;
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
  max-width: 17rem;
  align-items: center;
}
.footer-copyright-icon {
  margin: 0;
  font-size: 2rem !important;
}
.footer-copyright-text {
  color: #353434;
  font-size: 1.4rem;
}

.auth {
  width: 100%;
  margin: 0 auto;
}
.auth-forgot {
  font-weight: 300;
  font-size: 1.5rem;
  transition: all 0.2s;
  color: #000000;
}
.auth-forgot:hover {
  color: #000000;
  transform: scale(1.03);
}
.auth-btn {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 3rem auto 6rem;
  border-radius: 2rem;
}
.auth-checkbox {
  cursor: pointer;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.auth-checkbox-label {
  margin: 0;
  cursor: pointer;
  margin-right: 1rem;
  color: #000000;
  font-size: 1.5rem;
}
.auth-checkbox-input {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.auth-form {
  max-width: 70rem;
  width: 80%;
  border-radius: 2rem;
  padding: 5rem;
  margin: 5rem auto 10rem;
  background-color: #ECECEC;
}

.btn {
  outline: none;
  border: none;
  padding: 2rem;
  width: 80%;
  cursor: pointer;
  transition: all 0.2s;
  display: block;
  border-radius: 2rem;
  max-width: 20rem;
  color: #FFFFFF;
  font-size: 2rem;
  background-color: #000000 !important;
}
.btn:hover {
  transform: scale(1.04);
}

.input {
  position: relative;
  background-color: #fff;
  width: 90%;
  margin: 6rem auto;
  border-radius: 2rem;
}
.input-text {
  color: #353434;
  font-size: 5rem;
  text-align: center;
}
.input-placeholder {
  top: -3rem;
  color: rgba(53, 52, 52, 0.8);
  left: 1rem;
  transition: 0.4s;
  opacity: 0;
  font-size: 1.7rem;
  position: absolute;
}
input:not(:placeholder-shown) ~ .input-placeholder {
  opacity: 1;
}
.input input {
  background-color: #fff;
  overflow: hidden;
  border: none;
  border-radius: 2rem;
  width: 100%;
  outline: none;
  font-size: 2rem;
  border-radius: 5rem;
  color: #353434;
  padding: 2rem;
  width: 100%;
}
.input input::placeholder {
  color: rgba(53, 52, 52, 0.8);
}
.input input:-webkit-autofill,
.input input input:-webkit-autofill:hover,
.input input input:-webkit-autofill:focus,
.input input input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.profile-header-inner {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-direction: row !important;
}
@media (max-width: 37.5em) {
  .profile-header-inner {
    flex-direction: column !important;
  }
}
.profile-header-image {
  border-radius: 100%;
  width: 15rem;
}
.profile-header-name {
  font-size: 4rem;
}
@media (max-width: 37.5em) {
  .profile-header-name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 4rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 21rem);
}
.home-text {
  height: calc(100vh - 48rem);
  margin: 0rem auto 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
@media (max-width: 37.5em) {
  .home-text {
    width: 75%;
    height: calc(100vh - 48rem);
    margin: 0rem auto 2rem;
    display: flex;
    align-items: center;
  }
}

.post {
  margin: 0 auto;
  width: 80%;
  max-width: 90rem;
}
.post-author {
  padding: 3rem;
  background-color: #ECECEC;
  max-height: 30rem;
  border-radius: 2.5rem;
}
@media (max-width: 37.5em) {
  .post-author {
    margin-bottom: 5rem;
  }
}
.post-author-author {
  background-color: #000000;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.5rem;
}
.post-author-author-image {
  width: 5rem;
  border-radius: 100%;
}
.post-author-author-name {
  color: #FFFFFF;
  font-size: 1.6rem;
}
.post-container {
  display: grid;
  grid-column-gap: 10rem;
  grid-template-columns: 2fr 1.2fr;
}
.post-container-left-container {
  text-align: left;
  padding: 3rem;
  background-color: #ECECEC;
  border-radius: 2rem;
}
.post-container-left-container-title {
  font-size: 3rem;
}
.post-container-left-container-description {
  color: #353434;
  font-size: 1.6rem;
}
@media (max-width: 37.5em) {
  .post-container {
    grid-gap: 5rem;
    grid-template-columns: 1fr;
  }
}

.posts {
  position: relative;
  max-width: 70rem;
  width: 80%;
  border-radius: 2rem;
  padding: 1rem 5rem 5rem;
  margin: 2rem auto 10rem;
  background-color: #ECECEC;
}
.posts-title {
  margin-bottom: 5rem;
  border-bottom: 0.3rem solid #fff;
  padding: 1rem;
  font-size: 2.5rem;
}
.posts-container {
  display: grid;
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 37.5em) {
  .posts-container {
    grid-template-columns: 1fr;
  }
}

.sub-post {
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  height: 30rem;
  width: 25rem;
  border-radius: 3rem;
}
.sub-post:hover {
  transform: scale(1.02);
}
.sub-post-post {
  top: 35%;
  left: 0%;
  height: 45%;
  width: 100%;
  padding: 1rem;
  background-color: #00000095;
  position: absolute;
  text-align: left;
}
.sub-post-post-title {
  color: #ECECEC;
  font-size: 2rem;
  font-weight: 700;
}
.sub-post-post-description {
  font-weight: 500;
  font-size: 1.5rem;
  color: #FFFFFF;
}
.sub-post-user {
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 100%;
  bottom: 0%;
}
.sub-post-user-name {
  margin: 0;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.sub-post-user-img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.sub-post-image {
  border-radius: 3rem;
  object-fit: cover;
  height: 30rem;
  width: 25rem;
}

.navbar {
  padding: 0 2rem !important;
  position: sticky !important;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
}
.navbar-logo {
  margin: 0;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 600;
  font-size: 2.5rem;
}
.navbar-logo:hover {
  transform: scale(1.05) !important;
}

.search {
  background-color: #ECECEC;
  max-width: 70rem;
  width: 80vw;
  border-radius: 2rem;
  padding: 6rem;
  overflow: hidden;
  margin: 3rem auto;
}
.search-text {
  color: #353434;
  font-size: 5rem;
  text-align: center;
}
.search-input {
  overflow: hidden;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 100%;
}

.header {
  background-color: #ECECEC;
  max-width: 70rem;
  width: 80%;
  border-radius: 2rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
}
.header-text {
  margin: 0;
  color: #353434;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

body {
  margin: 0;
  font-size: 10px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px !important;
}

.App {
  position: relative;
  overflow: auto !important;
}

.col-container {
  overflow: auto;
}

.col {
  width: 40%;
  float: left;
  margin-right: 5%;
}

h3 {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.landing-top {
  background-color: aquamarine;
}

.landing-image {
  /* float: right; */
}

.form-btn {
  padding: 0% 20%;
}

.landing-title {
  float: left;
  text-align: left;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  font-weight: 700;
  font-size: xx-large;
}

.login-title {
  text-align: center;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  font-weight: 700;
  font-size: x-large;
}

.login-form {
  text-align: center;
  padding-bottom: 1%;
  padding-left: 15%;
  padding-right: 25%;
  padding-top: 2%;
}

.landing-description {
  padding: 5%;
  text-align: center;
  font-weight: 700;
  font-size: large;
}

.bottom-container {
  background-color: #66BFBF;
  bottom: 0;
  position: relative;
  padding-bottom: 1%;
  color: #EAF6F6;
  text-align: center;
  padding-top: 2%;
  margin-top: 0%;
}

a {
  margin: 0 5px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.button {
  box-shadow: 0 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3d768a;
}

@media all and (max-width: 768px) {
  .landing-title {
    /* display: none; */
    width: 30%;
  }

  .col {
    width: 90%;
    float: none;
    margin: 1rem auto;
  }

  .landing-top {
    height: 300px;
  }

  .landing-image {
    margin-top: 70px;
    float: right;
    width: 70%;
  }
}

/*# sourceMappingURL=index.css.map */
