body {
    margin: 0;
    font-size: 10px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html{
    font-size: 10px !important;
}

.App {
    position: relative;
    overflow: auto !important;
}