
.col-container {
    overflow: auto;
}

.col {
    width: 40%;
    float: left;
    margin-right: 5%;
}


h3 {
    text-align: left;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.top-container {}

.middle-container {}

.search {}

.post {}

.posts {}

.post-main {}

.post-main-title {}

.post-main-image {}

.post-main-description {}

.post-main-paypal {}

.landing-top {
    background-color: aquamarine;

}

.landing-middle {}

.landing-bottom {}

.landing-image {
    /* float: right; */
}

.form-btn {
    padding: 0% 20%;
}

.landing-title {
    float: left;
    text-align: left;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    font-weight: 700;
    font-size: xx-large;
}

.login-title {

    text-align: center;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    font-weight: 700;
    font-size: x-large;
}

.login-form {

    text-align: center;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 25%;
    padding-top: 2%;

}

.landing-description {
    padding: 5%;
    text-align: center;
    font-weight: 700;
    font-size: large
}

.bottom-container {
    background-color: #66BFBF;
    bottom: 0;
    position: relative;
    padding-bottom: 1%;
    color: #EAF6F6;
    text-align: center;
    padding-top: 2%;
    margin-top: 0%;
}

a {
    margin: 0 5px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.button {
    box-shadow: 0 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0 1px 0 #3d768a
}

@media all and (max-width:768px) {
    .landing-title {
        /* display: none; */
        width: 30%;
    }

    .col {
        width: 90%;
        float: none;
        margin: 1rem auto;
    }

    .landing-top {
        height: 300px;
    }

    .landing-image {
        margin-top: 70px;
        float: right;
        width: 70%;
    }
}