.auth {
    width: 100%;
    margin: 0 auto;

    &-forgot {
        font-weight: 300;
        font-size: 1.5rem;
        &:hover{
            color:$colorPrimary;
            transform:scale(1.03)
        }
        transition: all 0.2s;
        color: $colorPrimary;
    }

    &-btn {
        display: flex;
        justify-content: flex-start;

        width: 90%;
        margin: 3rem auto 6rem;
        border-radius: 2rem;
    }

    &-checkbox {
        cursor: pointer;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-label {
            margin: 0;
            cursor: pointer;
            margin-right: 1rem;
            // height:
            color: $colorPrimary;
            font-size: 1.5rem;
        }

        &-input {
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            // height:4rem;
        }
    }
}

.auth-form {
    max-width: 70rem;
    width: 80%;
    border-radius: 2rem;
    padding: 5rem;

    margin: 5rem auto 10rem;
    background-color: $colorSecondaryBackground;
}