.button{
    
}
.input {
    // background-color: $colorSecondaryBackground;
    // max-width: 70rem;
    // width: 80vw;
    // border-radius: 2rem;
    // padding: 6rem;
    // overflow: hidden;

    &-text {
        // background-color: $colorPrimaryBackground;
        color: $colorSecondary;
        font-size: 5rem;
        text-align: center;
    }
    &-placeholder {
        top: -3rem;
        color: rgba($colorSecondary, 0.8);
        left:1rem;
        transition:0.4s;
        opacity: 0;
        font-size: 1.7rem;
        position: absolute;
    }
    position: relative;
    background-color: #fff;
    width:90%;
    margin: 6rem auto;
    border-radius: 2rem;
    input:not(:placeholder-shown) ~ &-placeholder{
        opacity: 1;
    }
    input {
        &::placeholder {
            color: rgba($colorSecondary, 0.8);
        }

        &:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            transition: background-color 5000s ease-in-out 0s;
        }

        background-color: #fff;
        overflow: hidden;
        border: none;
        border-radius: 2rem;
        width: 100%;
        outline: none;
        font-size: 2rem;
        border-radius: 5rem;
        color:$colorSecondary;
        padding: 2rem;
        width: 100%;
    }
}