.navbar {
    padding: 0 2rem !important;
    position: sticky !important;
    top: 0;
    width: 100%;
    left: 0;

    &-logo {
        margin: 0;
        align-items: center;
        // text-align: center;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            // display: none;
            transform: scale(1.05) !important;
            // color: #262626;
        }

        // text-decoration: none !important;
        font-weight: 600;
        font-size: 2.5rem;
    }

    display: flex;
    align-items: center;
}